.container-fluid{
  margin-top: .5em;
}
#playlist {
}
#playlist li{
    cursor:pointer;
}

#playlist li:hover{
    color:blue;                        
}
#videoarea {
    width:100%;
    height:480px;
    margin:10px;    
    border:1px solid silver;
}
ul{height:480px; width:100%;}
ul{overflow:hidden; overflow-y:scroll;}